#site #body #content { float: left; padding: 10px; width: 590px; background: inherit; }
#site #body #sidebar div.BLOC { width: 310px }
#site #body #content #projet .activity.home .item p { width:510px; }